@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding: 8px 15px;
    }
}

@media (max-width: 991px) {
    .navbar-collapse {
        flex-basis: 100%;
        flex-grow: 1;
        align-items: center;
        position: fixed;
        width: 80%;
        top: 0;
        left: -80%;
        background: var(--dark);
        padding: 0px 20px 20px;
        bottom: 0;
        z-index: 990;
        transition: all 0.2s ease-in-out;
        height: 100%;
    }

    .navbar-collapse.collapse.show {
        left: 0;
        transition: all 0.3s ease-in-out;
        height: 100%;
    }

    .navbar-nav {
        padding-top: 80px;
    }

    .main_header .nav-link {
        color: var(--white);
    }

    .mobile-side-toggler {
        color: var(--white);
        background-color: transparent !important;
        border: 1px solid var(--white);
        border-radius: 0;
        width: 40px;
        height: 40px;
        position: absolute;
        right: 30px;
        top: 30px;
    }

    .mb_mobile:hover {
        background-color: var(--white);
        color: var(--dark);

    }

    .our_services .services_boxs .services_box {
        padding: 0 12px;
    }

    .our_services .services_boxs .services_box .services_text {
        padding: 15px 0 5px 20px;
    }

    .title h2 {
        font-size: 33px;
    }
}

@media only screen and (max-width: 767px) {
    .header_top .social_icon ul {
        text-align: center;
    }

    .header_top .call_mail ul {
        text-align: center;
    }

    .main_banner_sec .bg_text h1 {
        font-size: 34px;
    }

    .main_banner_sec .bg_text {
        text-align: left;
        padding-bottom: 30px;
    }

    .main_banner_sec {
        padding: 50px 0;
    }

    .header_top ul li a {
        font-size: 14px;
    }

    .services_box_icon {
        width: 80px;
        height: 90px;
        line-height: 90px;
    }

    .our_services {
        padding: 50px 0;
    }

    .our_services .services_boxs .services_box {
        padding: 0px 15px;
    }

    .our_services .services_boxs .services_box .services_text {
        padding: 20px 0 5px 20px;
    }

    .our_services .title {
        margin-bottom: 40px;
    }

    .our_services .title p {
        font-size: 16px;
    }

    .os_round_shape_left img {
        width: 35%;
    }

    .os_round_shape_left {
        position: absolute;
        top: 3%;
        left: 2%;
        z-index: 0;
    }

    .our_services .title h2 {
        font-size: 32px;
    }

    .title h2 {
        font-size: 24px;
    }

    .our_marketing_expertise {
        padding: 50px 0;
    }

    .your_business_img {
        margin-top: 30px;
    }

    .sec_custom_text p {
        font-size: 16px;
    }

    .ome_round_shape_right {
        top: 4%;
        right: -29%;
    }

    .ome_round_shape_right img {
        width: 35%;
    }
}