@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding: 8px 15px;
    }
}
@media only screen and (max-width: 767px) {
    .header_top .social_icon ul{
        text-align: center;
    }
    .header_top .call_mail ul {
        text-align: center;
    }
    .main_banner_sec .bg_text h1 {
      font-size: 32px;
    }
    .main_banner_sec .bg_text {
        text-align: left;
        padding-bottom: 50px;
    }
    .main_banner_sec{
        padding: 50px 0;
    }
    .header_top ul li a{
        font-size: 14px;
    }
    .services_box_icon {
        width: 80px;
        height: 90px;
        line-height: 90px;
    }
    .our_services {
        padding: 50px 0;
    }
    .our_services .services_boxs .services_box{
        padding: 0px 15px;
    }
    .our_services .services_boxs .services_box .services_text {
        padding: 20px 0 5px 20px;
    }
    .our_services .title {
        margin-bottom: 40px;
    }
    .our_services .title p {
        font-size: 16px;
    }
}