body {
    @import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800&display=swap'); 
     font-family: 'DM Sans', sans-serif;
    /* font-family: poppins; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

::selection {
    background-color: var(--main-bg-one);
    color: #fff;

}

:root {
    --main-bg-one: #ff7a3d;
    --main-text: #ff7a3d;
    --white: #ffffff;
    --sky: #12b5ff;
    --black: #0f0f0f;
    --dark: #212121;
    --light-gray: #606060;
}

/*header*/
.header_top {
    background-color: var(--sky);
    padding: 6px 0;
}

.header_top ul li {
    display: inline-block;

}

.header_top ul li a {
    color: var(--white);
    transition: all 0.7s;
}

.header_top ul li a:hover {
    color: var(--dark);
}

.header_top .social_icon {
    text-align: right;
}

.header_top .social_icon li {
    margin-left: 8px;
}

.main_header .navbar-nav .nav-link.active {
    color: var(--main-text);
}

.main_header .nav-link {
    color: var(--black);
    font-size: 17px;
    font-weight: 500;
    /* text-transform: uppercase; */
}
.navbar-toggler-icon{
    background-image: url(../images/bar.svg);
}
.main_header .nav-link:hover {
    color: var(--main-text);
    transition: all 0.6s;
}
.navbar-toggler:focus{
    box-shadow: 0 0 0 !important;
}
.navbar-toggler{
    border: 0;
}
.main_btn {
    background-color: var(--main-bg-one);
    border-radius: 6px;
    color: var(--white);
    padding: 10px 25px;
    display: inline-block;
    transition: all 0.6s;
    font-weight: bold;
}
.main_btn i{
    margin-left: 6px;
}
.main_btn:hover {
    background-color: var(--dark);
    color: var(--white);
}

/* home banner */
.main_banner_sec {
    background-image: url(../images/home_bg_shape.svg);
    width: 100%;
    /* height: 950px; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 100px 0;
    overflow: hidden;
}

.main_banner_sec .row {
    align-items: center;
}

.main_banner_sec .bg_text {
    text-align: center;
    padding-bottom: 50px;
}

.main_banner_sec .bg_text h1 {
    color: var(--white);
    font-size: 58px;
    font-weight: 700;
    margin: 0;
}

.main_banner_sec .bg_text p {
    color: var(--white);
    margin: 20px 0;
}

.main_banner_sec .bg_text .main_btn {
    background-color: var(--sky);
}

.main_banner_sec .bg_text .main_btn:hover {
    background-color: var(--dark);
    color: var(--white);
}

.home_bg_img img {
    width: 100%;
}

.main_bg_cartoon img {
    width: 100%;
}

/* our_services */
.our_services {
    padding: 120px 0 80px 0;
    background-color: var(--white);
    position: relative;
    overflow: hidden;
}
.our_services .container{
    position: relative;
    z-index: 99;
}
.os_round_shape_left{
    position: absolute;
    top: 10%;
    left: 2%;
    z-index: 0;
}
.os_round_shape_left img{
    width: 60%;
}
.our_services .title {
    text-align: center;
}
 .title {
    margin-bottom: 40px;
}
 .title h2 {
    color: var(--dark);
    font-size: 36px;
    font-weight: 700;
    line-height: 50px;
}

 .title h2 span {
    color: var(--white);
    background-color: var(--main-bg-one);
    border-radius: 6px;
    padding: 5px;
}

.our_services .title p {
    color: var(--dark);
    margin: 0;
    margin-top: 15px;
    font-size: 18px;
}

.our_services .services_boxs .services_box {
    border: 1px solid #dedede;
    background: var(--white);
    border-radius: 6px;
    padding: 0 25px;
    margin-bottom: 24px;
    cursor: pointer;
    transition: all 0.5s;
}
.our_services .services_boxs .services_box:hover {
    box-shadow: 0px 10px 13px 2px #0000001a;
    transform: translateY(-9px);
}

.our_services .services_boxs .sb_icon_one {
    background: linear-gradient(180deg, rgba(255,144,93,1) 0%, rgba(255,100,30,1) 100%);
    box-shadow: 0px 15px 25px 4px #ff7a3d63;
}
.our_services .services_boxs .sb_icon_two {
    background: linear-gradient(180deg, rgba(95,205,255,1) 0%, rgba(17,179,253,1) 100%);
    box-shadow: 0px 15px 25px 4px #1fb8fe5e;
}
.our_services .services_boxs .sb_icon_three {
    background: linear-gradient(180deg, rgba(56,155,247,1) 0%, rgba(3,103,196,1) 100%);
    box-shadow: 0px 15px 25px 4px #1478d457;
}
.our_services .services_boxs .sb_icon_four {
    background: linear-gradient(180deg, rgba(255,199,55,1) 0%, rgba(244,174,0,1) 100%);
    box-shadow: 0px 15px 25px 4px #fcc02761;
}

.our_services .services_boxs .services_box .services_text {
    padding: 30px 0 30px 30px;
    overflow: hidden;
}

.our_services .services_boxs .services_box .services_text h5 {
    font-size: 24px;
    font-weight: 700;
    color: var(--dark);
}

.our_services .services_boxs .services_box .services_text p {
    font-size: 16px;
    color: var(--light-gray);
}

.services_box_icon {
    background-color: #ff7a3d;
    border-radius: 0 0 50% 50%;
    width: 90px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    float: left;
}

.services_box_icon i {
    color: var(--white);
    font-size: 28px;
}
/* our_marketing_expertise */
.our_marketing_expertise{
    background-image: url(../images/sec_shepe_one.svg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 120px 0;
    position: relative;
    z-index: 9999;
    overflow: hidden;
}

.ome_round_shape_right{
    position: absolute;
    top: 18%;
    right: 0%;
    z-index: -1;
}
.ome_round_shape_right img{
    width: 60%;
}
.our_marketing_expertise .row{
    align-items: center;
}
.sec_custom_text p{
    font-size: 18px;
    color: var(--dark);
    margin-bottom: 30px;
}
.sec_custom_text p span{
    font-weight: 600;
    color: var(--main-text);
}
.sec_list_point li img{
    float: left;
    margin-right: 10px;
}
.sec_list_point li p{
    overflow: hidden;
    margin-bottom: 15px;
}
.your_business_img img{
    width: 100%;
}
.sec_btn {
    margin-top: 35px;
}


