body {
    @import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800&display=swap');
    font-family: 'DM Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

::selection {
    background-color: var(--main-bg-one);
    color: #fff;

}

:root {
    --main-bg-one: #ff7a3d;
    --main-text: #ff7a3d;
    --white: #ffffff;
    --sky: #12b5ff;
    --black: #0f0f0f;
    --dark: #212121;
    --light-gray: #606060;
}

/*header*/
.header_top {
    background-color: var(--sky);
    padding: 6px 0;
}

.header_top ul li {
    display: inline-block;

}

.header_top ul li a {
    color: var(--white);
    transition: all 0.7s;
}

.header_top ul li a:hover {
    color: var(--dark);
}

.header_top .social_icon {
    text-align: right;
}

.header_top .social_icon li {
    margin-left: 8px;
}

.main_header .navbar-nav .nav-link.active {
    color: var(--main-text);
}

.main_header .nav-link {
    color: var(--black);
    font-size: 17px;
    font-weight: 500;
    /* text-transform: uppercase; */
}

.main_header .nav-link:hover {
    color: var(--main-text);
    transition: all 0.6s;
}

.main_btn {
    background-color: var(--main-bg-one);
    border-radius: 6px;
    color: var(--white);
    padding: 10px 25px;
    display: inline-block;
    transition: all 0.6s;

}

.main_btn:hover {
    background-color: var(--dark);
    color: var(--white);
}

/* home banner */
.main_banner_sec {
    background-image: url(../images/home_bg_shape.svg);
    width: 100%;
    /* height: 950px; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 100px 0;
    overflow: hidden;
}

.main_banner_sec .row {
    align-items: center;
}

.main_banner_sec .bg_text {
    text-align: center;
    padding-bottom: 50px;
}

.main_banner_sec .bg_text h1 {
    color: var(--white);
    font-size: 58px;
    font-weight: 700;
    margin: 0;
}

.main_banner_sec .bg_text p {
    color: var(--white);
    margin: 20px 0;
}

.main_banner_sec .bg_text .main_btn {
    background-color: var(--sky);
}

.main_banner_sec .bg_text .main_btn:hover {
    background-color: var(--dark);
    color: var(--white);
}

.home_bg_img img {
    width: 100%;
}

.main_bg_cartoon img {
    width: 100%;
}

/* our_services */
.our_services {
    padding: 100px 0;
    background-color: var(--white);
}

.our_services .title {
    text-align: center;
    margin-bottom: 70px;
}

.our_services .title h2 {
    color: var(--dark);
    font-size: 36px;
    font-weight: 700;
}

.our_services .title h2 span {
    color: var(--white);
    background-color: var(--main-bg-one);
    border-radius: 6px;
    padding: 5px;
}

.our_services .title p {
    color: var(--dark);
    margin: 0;
    font-size: 18px;
}

.our_services .services_boxs .services_box {
    border: 1px solid #dedede;
    border-radius: 6px;
    padding: 0 25px;
    margin-bottom: 24px;
    cursor: pointer;
    transition: all 0.5s;
}
.our_services .services_boxs .services_box:hover {
    box-shadow: 0px 10px 13px 2px #0000001a;
    transform: translateY(-9px);
}

.our_services .services_boxs .sb_icon_one {
    background: linear-gradient(180deg, rgba(255,144,93,1) 0%, rgba(255,100,30,1) 100%);
    box-shadow: 0px 15px 25px 4px #ff7a3d63;
}
.our_services .services_boxs .sb_icon_two {
    background: linear-gradient(180deg, rgba(95,205,255,1) 0%, rgba(17,179,253,1) 100%);
    box-shadow: 0px 15px 25px 4px #1fb8fe5e;
}
.our_services .services_boxs .sb_icon_three {
    background: linear-gradient(180deg, rgba(56,155,247,1) 0%, rgba(3,103,196,1) 100%);
    box-shadow: 0px 15px 25px 4px #1478d457;
}
.our_services .services_boxs .sb_icon_four {
    background: linear-gradient(180deg, rgba(255,199,55,1) 0%, rgba(244,174,0,1) 100%);
    box-shadow: 0px 15px 25px 4px #fcc02761;
}

.our_services .services_boxs .services_box .services_text {
    padding: 30px 0 30px 30px;
    overflow: hidden;
}

.our_services .services_boxs .services_box .services_text h5 {
    font-size: 24px;
    font-weight: 700;
    color: var(--dark);
}

.our_services .services_boxs .services_box .services_text p {
    font-size: 16px;
    color: var(--light-gray);
}

.services_box_icon {
    background-color: #ff7a3d;
    border-radius: 0 0 50% 50%;
    width: 90px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    float: left;
}

.services_box_icon i {
    color: var(--white);
    font-size: 28px;
}